/*::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/	
html,body{ 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  margin:0px;
  height:100%;
  -webkit-scrollbar-face-color: #1B86CE;
}
h2{
	color:  #1B86CE;
}
a{
	font-size: 18px;
}
td{
	font-size: 17px;
}
.login{
	background: url(../img/background_login.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  margin:0px;
  height:100%;
	width:80%;
	height: 350px;
	background-color: black;
	padding: 20px;
}
.menu{
	position:absolute;
	top:0;
	left:0;
	background-color: #D8D8D8;
	width:20%;
 	height: 100%;
 	padding: 20px;
 	opacity: 0.9;
}
.item-menu{
	cursor: pointer;
	text-decoration: underline;
}
.item-menu:hover{
	color:#5DADE2 ;
}
.buzon{
	position:absolute;
	top:0;
	right:0;
	background-color: #D8D8D8;
	width:20%;
 	height: 100%;
 	padding: 20px;
 	opacity: 0.9;
 	font-size: 16px;
}
.item-box{
	width: 100%;
	height: 85%;
	overflow: scroll;
    overflow-x:hidden;
}
.cross-item-buzon{
	float:right;
	color:#E5E7E9;
	cursor:pointer;
}
.item-buzon{
	cursor: pointer;
	padding: 5px;
}
.item-buzon:hover{
	color:blue;
	background-color:#F8F9F9;
}
.buscador{
	position: absolute;
	top: 0;
	left: 20%;
	background-color: white;
	width: 60%;
	height: 12%;
	padding: 10px;
}

.buscador input::placeholder{
	color: #6E6E6E;
	font-weight: bold;
	font-size: 16px;
}
.contenedor{
	position: absolute;
	top: 70px;
	left: 20%;
	background-color: white;
	width: 60%;
	height: 89%;
	opacity: 0.8;
	overflow: scroll;
    overflow-x:hidden; 
    padding: 10px;
    -webkit-scrollbar-face-color: #1B86CE;
}
.busqueda{
	position: absolute;
	top: 70px;
	left: 20%;
	background-color: white;
	width: 60%;
	opacity: 0.9;
    padding: 10px;
    display: none;
}
.item-busqueda{
	padding: 5px;
	cursor: pointer;
}
.item-busqueda:hover{
	background-color: #00FF40;
}
.expediente,.info_gral,.consultas,.archivos,.ajustes{
	width: 100%;
	padding: 20px;
	background-color: white;
	text-align: left;
}

		.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
		.box
		{
			position:absolute;
			top:20%;
			left:30%;
			width:500px;
			height:350px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}